@media (max-width: 425px) {
    .container {
        width: 400px;
    }

    .container h1 {
        font-size: 4rem;
    }

    footer {
        font-size: 6px;
    }
}

@media (max-width: 375px) {
    .container {
        width: 350px;
    }

    footer {
        font-size: 4px;
    }
}

@media (max-width: 320px) {

    .container {
        width: 300px;
 
    }

    .container h1 {
        font-size: 2.5rem;
    }

    .input_search img:nth-child(3),
    .input_search img:nth-child(4),
    .input_search img:nth-child(5) {
        display: none;
    }

    .buttons button {
        padding: 10px 10px;
        margin-right: 5px;
        font-size: 12px;
    }

    .container .info {
        font-size: 10px;
    }

    footer {
        font-size: 6px;
    }
}